<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hq.dao.BookMapper">
    <insert id="addBook" parameterType="book">
            insert into books values (#{bookID},#{bookName},#{bookCount},#{detail})
    </insert>
    <delete id="deleteBookById" parameterType="int">
        delete  from books where bookID = #{bId}
    </delete>
    <update id="updateBook" parameterType="book">
        update books set bookName=#{bookName},bookCount=#{bookCount},detail=#{detail}
            where bookID=#{bookID}
    </update>
    <select id="queryBookById" parameterType="int" resultType="book">
        select * from books where bookID=#{bId}
    </select>
    <select id="queryAllBook" parameterType="book" resultType="book">
        select * from books
    </select>
</mapper>